$bubble-success-color : #d5e8b6;
$bubble-primary-color : $primary;
$bubble-pink-color : $pink;
$bubble-danger-color : $danger;
$bubble-info-color : $info;
$bubble-warning-color : $warning;

.bubble{
	display: block;
	width: 100%;
	min-height: 200px;
	background-color: rgba($white , .5);
	border: 2px solid $info;
	border-radius: 15px;
	text-align: left;
	padding: 1rem;
	position: relative;
	transition: all 2s ease-in-out;
	&:after {
		content: '';
		position: absolute;
		background: $white;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: 15px;
	}
	&-content{
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 20;
	}
	.panel{
		background: transparent !important;
		box-shadow: none;
		margin-bottom: 0;
	}
	//&.bubble-right:after{
	//	left: auto;
	//	right: 15%;
	//}
	&.bubble-left{
		left: 0;
		top: 20%;
		&:before{
			content: "";
			width: 60px;
			height: 60px;
			display: block;
			border: 2px solid $success;
			transform: skewX(-40deg);
			position: absolute;
			background: $white;
			left: -25px;
		}
	}
	&.bubble-right{
		right: 0;
		top: 20%;
		&:before{
			content: "";
			width: 60px;
			height: 60px;
			display: block;
			border: 2px solid $success;
			transform: skewX(40deg);
			position: absolute;
			background: $white;
			right: -25px;
		}
	}
	&.bubble-bottom-right{
		&:before{
			bottom: -20px;
			right: 15%;
			content: "";
			width: 60px;
			height: 60px;
			display: block;
			border: 2px solid $success;
			transform: skewY(40deg);
			position: absolute;
			background: $white;
		}
	}
	&.bubble-success{
		border: 2px solid $success;
	}
	&.bubble-primary{
		border: $bubble-primary-color ;
		&:after{
			border-top-color: rgba($bubble-primary-color, .5);
			border-right-color: transparent;
		}
		.bubble-right:after{
			border-top-color:transparent;
			border-right-color: rgba( $bubble-primary-color, .28) ;
		}
	}
	&.bubble-dark{
		border: 2px solid $black;
		&.bubble-right:before{
			border-color: $black;
		}
	}
	&.bubble-info{
		&.bubble-bottom-right:before{
			border-color: $info;
		}
	}
	&.bubble-danger{
		background-color: $bubble-danger-color ;
		&:after{
			border-top-color: rgba($bubble-danger-color, .28);
			border-right-color: transparent;
		}
		.bubble-right:after{
			border-top-color:transparent;
			border-right-color: rgba( $bubble-danger-color, .28) ;
		}
	}
	&.bubble-pink{
		background-color: $bubble-pink-color ;
		&:after{
			border-top-color: rgba($bubble-pink-color, .5);
			border-right-color: transparent;
		}
		.bubble-right:after{
			border-top-color:transparent;
			border-right-color: rgba( $bubble-pink-color, .28) ;
		}
	}
	&.bubble-warning{
		background-color: $bubble-warning-color ;
		&:after{
			border-top-color: rgba($bubble-warning-color, .5);
			border-right-color: transparent;
		}
		.bubble-right:after{
			border-top-color:transparent;
			border-right-color: rgba( $bubble-warning-color, .28) ;
		}
	}
	.video-block{
		width: 100%;
		height: 100%;
		display: block;
		iframe{
			width: 100%;
			min-height: 300px;
		}
	}
}