$bubble-success-color : #d5e8b6;
$bubble-primary-color : $primary;
$bubble-pink-color : $pink;
$bubble-danger-color : $danger;
$bubble-info-color : $info;
$bubble-warning-color : $warning;

.bubble{
	display: block;
	width: 100%;
	min-height: 200px;
	background-color: rgba($info , .5);
	box-shadow: inset 0 0 40px 20px rgba(255,255,255,0.5);
	border-radius: 15px;
	text-align: left;
	padding: 1rem;
	position: relative;
	transition: all 2s ease-in-out;
	&:after {
		content: '';
		position: absolute;
		left: 20%;
		bottom: -60px;
		width: 0;
		height: 0;
		border: 60px solid transparent;
		border-right-color: rgba(200,235,241,0.5);
		box-shadow: inset 0 0 40px 20px rgba(255,255,255,0.5);
		border-left: 0;
		border-bottom: 0;
		margin-top: -30px;
		margin-left: -60px;
	}
	.panel{
		background: transparent !important;
		box-shadow: none;
		margin-bottom: 0;
	}
	&.bubble-right:after{
		left: auto;
		right: 15%;
	}
	&.bubble-success{
		background-color: $bubble-success-color ;
		&:after{
			border-top-color: rgba($bubble-success-color, .5);
			border-right-color: transparent;
		}
		.bubble-right:after{
			border-top-color:transparent;
			border-right-color: rgba( $bubble-success-color, .5) ;
		}
	}
	&.bubble-primary{
		background-color: $bubble-primary-color ;
		&:after{
			border-top-color: rgba($bubble-primary-color, .5);
			border-right-color: transparent;
		}
		.bubble-right:after{
			border-top-color:transparent;
			border-right-color: rgba( $bubble-primary-color, .28) ;
		}
	}
	&.bubble-info{
		background-color: rgba($bubble-info-color, .5);
		&:after{
			border-top-color: rgba($bubble-info-color, .28);
			border-right-color: transparent;
		}
		.bubble-right:after{
			border-top-color:transparent;
			border-right-color: rgba( $bubble-info-color, .28) ;
		}
	}
	&.bubble-danger{
		background-color: $bubble-danger-color ;
		&:after{
			border-top-color: rgba($bubble-danger-color, .28);
			border-right-color: transparent;
		}
		.bubble-right:after{
			border-top-color:transparent;
			border-right-color: rgba( $bubble-danger-color, .28) ;
		}
	}
	&.bubble-pink{
		background-color: $bubble-pink-color ;
		&:after{
			border-top-color: rgba($bubble-pink-color, .5);
			border-right-color: transparent;
		}
		.bubble-right:after{
			border-top-color:transparent;
			border-right-color: rgba( $bubble-pink-color, .28) ;
		}
	}
	&.bubble-warning{
		background-color: $bubble-warning-color ;
		&:after{
			border-top-color: rgba($bubble-warning-color, .5);
			border-right-color: transparent;
		}
		.bubble-right:after{
			border-top-color:transparent;
			border-right-color: rgba( $bubble-warning-color, .28) ;
		}
	}
	.video-block{
		width: 100%;
		height: 100%;
		display: block;
		iframe{
			width: 100%;
			min-height: 300px;
		}
	}
}