.small-trees{
	cursor: pointer;
	height: 100px;
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
	&:hover {
		.small-trees-item .tree {
			background: url("../img/global/small-tree-color.svg") no-repeat center !important;
			background-size: contain !important;
		}
	}

	.small-trees-item {
		display: flex;
		width: 100%;
		height: 100%;
		flex-direction: column;
		align-items: center;
		.tree {
			width: 100%;
			height: 100%;
			display: block;
			background: url("../img/global/small-tree-grey.svg") no-repeat center;
			background-size: contain;
			margin-bottom: 10px;
		}

		&:hover ~ .small-trees-item {
			.tree {
				background: url("../img/global/small-tree-grey.svg") no-repeat center !important;
				background-size: contain !important;
			}
		}
	}

	&[data-stars] {
		.small-trees-item .tree {
			background: url("../img/global/small-tree-color.svg") no-repeat center;
			background-size: contain;
		}
	}
	&[data-stars="0"] {
		.small-trees-item .tree {
			background: url("../img/global/small-tree-grey.svg") no-repeat center;
			background-size: contain;
		}
	}
	&[data-stars="1"] {
		.small-trees-item:nth-child(1) ~ .small-trees-item .tree {
			background: url("../img/global/small-tree-grey.svg") no-repeat center;
			background-size: contain;
		}
	}

	&[data-stars="2"] {
		.small-trees-item:nth-child(2) ~ .small-trees-item .tree {
			background: url("../img/global/small-tree-grey.svg") no-repeat center;
			background-size: contain;
		}
	}

	&[data-stars="3"] {
		.small-trees-item:nth-child(3) ~ .small-trees-item .tree {
			background: url("../img/global/small-tree-grey.svg") no-repeat center;
			background-size: contain;
		}
	}

	&[data-stars="4"] {
		.small-trees-item:nth-child(4) ~ .small-trees-item .tree {
			background: url("../img/global/small-tree-grey.svg") no-repeat center;
			background-size: contain;
		}
	}

	&[data-stars="5"] {
		.small-trees-item:nth-child(5) ~ .small-trees-item .tree {
			background: url("../img/global/small-tree-grey.svg") no-repeat center;
			background-size: contain;
		}
	}

	&[data-stars="6"] {
		.small-trees-item:nth-child(6) ~ .small-trees-item .tree {
			background: url("../img/global/small-tree-grey.svg") no-repeat center;
			background-size: contain;
		}
	}
	&[data-stars="7"] {
		.small-trees-item:nth-child(7) ~ .small-trees-item .tree {
			background: url("../img/global/small-tree-grey.svg") no-repeat center;
			background-size: contain;
		}
	}
}