.datepicker{
	background: $white;
	thead{
		tr:first-child{
			background: $success;
			color: $white;
			th{
				padding: 10px 5px ;
				&:hover{
					background: darken($success, 5%) !important;
				}
			}
		}
	}
	td,th{
		border-radius: 0 !important;
	}
	td.day.active{
		background: $success !important;
		&.today:before{
			border-bottom-color: $white !important;
		}
	}
	td.today:before{
		border-bottom-color: $success !important;
	}
}