.evolution{
	display: inline-block;
	float: right;
	&-on{
		text-align: left;
		float: right;
		vertical-align: middle;
		&.pretty .state label:before,
		&.pretty .state label:after{
			top: 9px;
		}
		&.pretty.p-switch .state label:before,
		&.pretty.p-switch .state label:after{
			left: auto;
			right: 1rem;
		}
		&.pretty.p-switch .state label:before{
			left: auto;
			right: 1rem;

		}
		&.pretty.p-switch input:checked ~ .state label:after{
			left: auto;
			right: 0;
		}
		.state{
			font-size: 1.2rem;
			line-height: 40px;
			padding-right: 3rem;
			&:before{
				right: 0;
			}

			label{
				span{

				}
			}
		}
	}
}
#legend a {
	float: left;
	display: block;
	margin: 5px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	padding: 0 10px;
	.fa{
		font-size: 30px;
		line-height: 40px;
		vertical-align: middle;
	}
}
.leg-clicked {
	color: #CCC !important;
}
.highcharts-legend{display: none;}
#add-chart-data{
	border-radius: 50%;
	position: absolute;
	right: 1rem;
	bottom: 1rem;
	padding: 9px 13px;
	text-align: center;
}