.garden{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	position: relative;
	img{
		display: block;
		margin: 0 auto;
		width: 100%;
		height: 100%;
	}
	&-inner{
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		&-button-group{
			display: block;
			position: relative;
			width: 100%;
			height: 100%;
			overflow: hidden;
			padding: 5%;
		}
	}
	&-btn{
		position: absolute;
		&-left{
			display: block;
			left: 5.5%;
			top: 71%;
			transform: rotate(-12deg);
		}
		&-right{
			right: 3.7%;
			top: 56%;
			transform: rotate(12deg);
		}

		.fa{
			left: 0;
			right: inherit;
			top: 2px;
			font-size: 43px;
		}

		&:hover,
		&:focus{
			.fa{
				left: 5px;
				right: inherit;
			}
			span{
				left: 60%;
			}

		}
	}
	&-title{
		padding: 2rem;
		text-align: center;
		background: rgba(white, .5);
		border-radius: 15px;
	}
}