.garden{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	position: relative;
	img{
		display: block;
		margin: 0 auto;
		width: 100%;
		height: 100%;
	}
	&-inner{
		display: flex;
		flex-direction:row;
		justify-content: space-between;
		align-items: center;
		width: 50%;
		height: 60%;
		position: absolute;
		left: 25%;
		top: 20%;
		@media (max-width: $screen-sm-max) {
			width: 80%;
			height: 100%;
			left: 10%;
			top: 0;
		}
	}
	&-btn{

		.fa{
			left: 0;
			right: inherit;
			top: 3px;
			font-size: 43px;
		}

		&:hover,
		&:focus{
			.fa{
				left: 5px;
				right: inherit;
			}
			span{
				left: 60%;
			}

		}
	}
}