.garden{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0 auto;
	width: 80%;
	height: 600px;
	position: relative;
	background: url("../img/global/garden-3.png") no-repeat top center ;
	background-size: 100%;
	&-inner{
		display: block;
		width: 240px;
		height: 130px;
		position: absolute;
		background: $white;
		border-radius: 10px;
		top: 43%;
		left: 5%;
		&:before{
			content: "";
			width: 10px;
			height: 100px;
			background: #573229;
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -5px;
		}
	}
	&-table-bottom{
		content: "";
		width: 56px;
		height: 16px;
		position: absolute;
		bottom: 110px;
		left: 150px;
		margin-left: -20px;
		background: url(../img/global/garden-bottom.png) no-repeat center;
		background-size: cover;
		animation-duration: .3s;
		animation-delay: .6s;
	}
	&-inner-button-group {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 1rem 1rem 0;
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	&-btn{
		//position: absolute;
		&-left{
			display: block;
			//left: 5.5%;
			//top: 71%;
			//transform: rotate(-12deg);
			&:focus,
			&:active{
				//top: 71.5%;
			}
		}
		&-right{
			//transform: rotate(12deg);
			//&:focus,
			//&:active{
			//	top: 56.5%;
			//}
		}

	.fa{
		left: 0;
		right: inherit;
		top: 2px;
		font-size: 43px;
	}

		&:hover,
		&:focus{
			.fa{
				left: 5px;
				right: inherit;
			}
			span{
				left: 60%;
			}
		}
	}
	&-title{
		position: absolute;

		display: block;
		height: 100px;
		padding: 2rem;
		text-align: center;
		background: rgba(white, .5);
		border-radius: 15px;
		-vendor-animation-duration: 3s;
		-vendor-animation-delay: 2s;
		-vendor-animation-iteration-count: infinite;
	}
}