.impact-human{
	display: block;
	width: 100%;
	overflow: hidden;
	.btn3d{
		min-width: 200px;
	}
	.create-btn__next-step{
		min-width: 260px;
		transition: all 2.5s linear;
		&:hover:after {
			right: 80%;
		}
	}
}