.trophies-list{
	display: block;
	width: 100%;
	&-item{
		display: inline-block;
		float: left;
		width: 80px;
		height: 80px;
		position: relative;
		margin: 15px;
	}
	.trophies-link{
		display: block;
		width: 100%;
		height: 100%;
		&:hover,
		&:focus,
		&:active,
		&.active{
			cursor: pointer;
			outline: 0;
		}
	}
	.trophies-link img{
		display: block;
		width: 100%;
		height: 100%;
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		filter: grayscale(100%);
		filter: gray; /* IE 6-9 */
	}
	&-item.active,
	&-item:focus,
	&-item:hover{
		.trophies-link{
			img{
				-webkit-filter: grayscale(0);
				-moz-filter: grayscale(0);
				-ms-filter: grayscale(0);
				-o-filter: grayscale(0);
				filter: grayscale(0);
			}
		}
	}
}