<!DOCTYPE html>
html(lang="en")
	include global/head
	+head(
		'ZD - conclution'
	)
	include mixin/all-mixin
	body.homepage
		.wrapper
			section.main
				.container.py-3
					article.panel-list
						.container-fluid
							.row.mb-20
								.col-xs-12
									nav(aria-label='breadcrumb').bread
										ol.breadcrumb.mb-0
											li.breadcrumb-item
												a(href='#') Acceuil
											li.breadcrumb-item
												a(href='#') Initiatives sur Tournai
											li.breadcrumb-item.active(aria-current='page') L'agenda des initiatives dans votre commune
							.row.mb-20
								.col-xs-12
									.bg-warning.clearfix.py-2.px-3
										h4.d-inline-block.text-white.float-left Tool waste reducing ZD
										a.d-inline-block.btn.btn-outline-warning.float-right(href="index.html", role="button")
											span Acceuil
							.row.mb-20
								.col-xs-12
									.pagination-container.full-width-container
										.sized-container
											.pagination
												.indicator.complete
													.tag Step 1
												.progress-bar-container
													.progress-bar(style='width: 100%;')
												.indicator.complete
													.tag Step 2
												.progress-bar-container
													.progress-bar(style='width: 100%;')
												.indicator.complete
													.tag Step 3
												.progress-bar-container
													.progress-bar(style='width: 100%;')
												.indicator.complete
													.tag Step 4
												.progress-bar-container
													.progress-bar(style='width: 100%;')
												.indicator.complete
													.tag Step 5
												.progress-bar-container
													.progress-bar(style='width: 100%;')
												.indicator.active
													.tag Step 6
												.progress-bar-container
													.progress-bar
												.indicator
													.tag Step 7
												.progress-bar-container
													.progress-bar
							.row.oneHeight.mx-0.mb-20
								.col-sm-6.col-xs-12.px-1
									.panel.panel-pink
										.panel-header
											h3.text-center Subtitle 1
											.panel-icon.left
												a.btn-pink.btn-rounded(href="login.html")
													i.fa.fa-close.text-white
										.panel-body
											.row.mb-20
												.col-xs-6
													p.text-left Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
														| ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes,
														| nascetur ridiculus mus.
												.col-xs-6.px-0
													img.img-responsive(src='assets/img/global/save-planet-small.jpg', alt='#')
													p.text-center Image title
								.col-sm-6.col-xs-12.px-1
									.panel.panel-success
										.panel-header
											h3.text-center Subtitle 2
											.panel-icon.right
												a.btn-success.btn-rounded(href="login.html")
													i.fa.fa-check.text-white
										.panel-body
											.row.mb-20
												.col-xs-6.px-0
													img.img-responsive(src='assets/img/global/save-planet-small.jpg', alt='#')
													p.text-center Image title
												.col-xs-6
													p.text-left Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
														| ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes,
														| nascetur ridiculus mus.
											.row.mb-20
												.col-xs-6
													p.text-left Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
														| ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes,
														| nascetur ridiculus mus.
												.col-xs-6.px-0
													img.img-responsive(src='assets/img/global/save-planet-small.jpg', alt='#')
													p.text-center Image title
											.row.mb-20
												.col-xs-6.px-0
													img.img-responsive(src='assets/img/global/save-planet-small.jpg', alt='#')
													p.text-center Image title
												.col-xs-6
													p.text-left Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
														| ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes,
														| nascetur ridiculus mus.

							.row
								.col-sm-6.col-sm-offset-3.text-center
									a.btn-warning.btn3d.previous(href="question-step.html")
										i.fa.fa-chevron-left
										span previous
									a.btn-primary.btn3d(href="login.html")
										span next
										i.fa.fa-chevron-right


