<!DOCTYPE html>
html(lang="en")
	include global/head
	+head(
		'ZD - create - persone - 3'
	)
	include mixin/all-mixin
	body.homepage
		.wrapper
			section.main
				.container.py-3
					article.panel-list
						.container-fluid
							.row.mb-20
								.col-xs-12
									nav(aria-label='breadcrumb').bread
										ol.breadcrumb.mb-0
											li.breadcrumb-item
												a(href='#') Acceuil
											li.breadcrumb-item
												a(href='#') Initiatives sur Tournai
											li.breadcrumb-item.active(aria-current='page') L'agenda des initiatives dans votre commune
							.row.mb-20
								.col-xs-12
									.bg-warning.clearfix.py-2.px-3
										h4.d-inline-block.text-white.float-left Tool waste reducing ZD
										a.d-inline-block.btn.btn-outline-warning.float-right(href="index.html", role="button")
											span Acceuil
							.row
								.col-xs-12
									.pagination-container.full-width-container
										.sized-container
											.pagination
												.indicator.complete
													.tag Step 1
												.progress-bar-container
													.progress-bar(style='width: 100%;')
												.indicator.complete
													.tag Step 2
												.progress-bar-container
													.progress-bar(style='width: 100%;')
												.indicator.active
													.tag Step 3
												.progress-bar-container
													.progress-bar(style='width: 0%;')
												.indicator
													.tag Step 4
												.progress-bar-container
													.progress-bar(style='width: 0%;')
												.indicator
													.tag Step 5
												.progress-bar-container
													.progress-bar(style='width: 0%;')
												.indicator
													.tag Step 6
												.progress-bar-container
													.progress-bar(style='width: 0%;')
												.indicator
													.tag Step 7
												.progress-bar-container
													.progress-bar(style='width: 0%;')
							.row.mx-0.mb-20
								.col-xs-12.px-1
									section.widget.widget_blog_subscription
										form#subscribe-blog(action='#', method='post', accept-charset='utf-8')
											p Quelle est votre code postal?
											p
												input#subscribe-field(type='text', name='email', style='width: 95%; padding: 1px ' +
												'2px', placeholder='7500, Tournai', value='')
							.row
								.col-sm-6.col-sm-offset-3.text-center
									a.btn-warning.btn3d.previous(href="create-persone-2.html")
										i.fa.fa-chevron-left
										span previous
									a.btn-primary.btn3d(href="impact-human.html")
										span next
										i.fa.fa-chevron-right


