<!DOCTYPE html>
html(lang="en")
	include global/head
	+head(
		'ZD - create - persone - 3'
	)
	include mixin/all-mixin
	body.homepage
		.wrapper
			section.main
				.container.py-3
					article.panel-list
						.container-fluid
							.row.mb-20
								.col-xs-12
									nav(aria-label='breadcrumb').bread
										ol.breadcrumb.mb-0
											li.breadcrumb-item
												a(href='#') Acceuil
											li.breadcrumb-item
												a(href='#') Initiatives sur Tournai
											li.breadcrumb-item.active(aria-current='page') L'agenda des initiatives dans votre commune
							.row.mb-20
								.col-xs-12
									.bg-warning.clearfix.py-2.px-3
										h4.d-inline-block.text-white.float-left Tool waste reducing ZD
										a.d-inline-block.btn.btn-outline-warning.float-right(href="index.html", role="button")
											span Acceuil
							.row
								.col-xs-12
									.progress-block
										.progress-circle.progress-80
											span 85
							.row.mx-0.mb-20
								.col-xs-12.px-1
									section.widget.widget_blog_subscription
										form#subscribe-blog(action='#', method='post', accept-charset='utf-8')
											p Quelle est votre code postal?
											p
												input#subscribe-field(type='text', name='email', style='width: 95%; padding: 1px ' +
												'2px', placeholder='7500, Tournai', value='')
											p.text-center
												a(href="#").create-btn__next-step.btn-success Suivant



