<!DOCTYPE html>
html(lang="en")
	include global/head
	+head(
		'ZD - question-step'
	)
	include mixin/all-mixin
	body.homepage
		.wrapper
			section.main
				.container.py-3
					article.panel-list
						.container-fluid
							.row.mb-20
								.col-xs-12
									nav(aria-label='breadcrumb').bread
										ol.breadcrumb.mb-0
											li.breadcrumb-item
												a(href='#') Acceuil
											li.breadcrumb-item
												a(href='#') Initiatives sur Tournai
											li.breadcrumb-item.active(aria-current='page') L'agenda des initiatives dans votre commune
							.row.mb-20
								.col-xs-12
									.bg-warning.clearfix.py-2.px-3
										h4.d-inline-block.text-white.float-left Tool waste reducing ZD
										a.d-inline-block.btn.btn-outline-warning.float-right(href="index.html", role="button")
											span Acceuil
							.row.mb-20
								.col-xs-12
									.pagination-container.full-width-container
										.sized-container
											.pagination
												.indicator.complete
													.tag Step 1
												.progress-bar-container
													.progress-bar(style='width: 100%;')
												.indicator.complete
													.tag Step 2
												.progress-bar-container
													.progress-bar(style='width: 100%;')
												.indicator.complete
													.tag Step 3
												.progress-bar-container
													.progress-bar(style='width: 100%;')
												.indicator.complete
													.tag Step 4
												.progress-bar-container
													.progress-bar(style='width: 100%;')
												.indicator.complete
													.tag Step 5
												.progress-bar-container
													.progress-bar(style='width: 100%;')
												.indicator.active
													.tag Step 6
												.progress-bar-container
													.progress-bar
												.indicator
													.tag Step 7
												.progress-bar-container
													.progress-bar
							.row.mx-0.mb-20
								.col-xs-12.px-1
									.panel.panel-pink.pt-4
										.panel-header
											h2.text-center Some text with question?
										.row.p-3
											.col-xs-8
												img.img-responsive.img-rounded.mx-auto(src='assets/img/global/save-planet.jpg',
alt='#')
											.col-xs-4
												.btn-vertical-group.py-6
													a.btn.btn-success.btn-rounded(href="#")
														.fa.fa-check
													p Je ne fais pas encore
													a.btn.btn-danger.btn-rounded(href="#")
														.fa.fa-times
													p Je fais déjà





