.big-trees(data-stars='1')
    .big-trees-item.rating( data-rating='1')
        .tree
    .big-trees-item.rating( data-rating='2')
        .tree
    .big-trees-item.rating( data-rating='3')
        .tree
    .big-trees-item.rating( data-rating='4')
        .tree
    .big-trees-item.rating( data-rating='5')
        .tree
    .big-trees-item.rating( data-rating='6')
        .tree
    .big-trees-item.rating( data-rating='7')
        .tree
