#felicitstions.felicitations
    h2.felicitations-title Felicitations!
    .felicitations-img
        img(src="/assets/img/global/felicitations.png")
    h4.text-center.text-white Hey felicitations!
    p.text-center.text-white Tu as deja reduis tes dechels de 10% &#x2764;

