ul.kind-trash.clearfix
    li.col-md-2.p-0
        label.kind-trash-item
            input(type="checkbox" name="trash-glass")
            .kind-trash-mark.glass
    li.col-md-2.p-0
        label.kind-trash-item
            input(type="checkbox" name="trash-plastic")
            .kind-trash-mark.plastic
    li.col-md-2.p-0
        label.kind-trash-item
            input(type="checkbox" name="trash-organic")
            .kind-trash-mark.organic
    li.col-md-2.p-0
        label.kind-trash-item
            input(type="checkbox" name="trash-metal")
            .kind-trash-mark.metal
    li.col-md-2.p-0
        label.kind-trash-item
            input(type="checkbox" name="trash-paper")
            .kind-trash-mark.paper
    li.col-md-2.p-0
        label.kind-trash-item
            input(type="checkbox" name="trash-batteries")
            .kind-trash-mark.batteries
