ul.kind-trash.clearfix
    li.col-md-2.p-0
        label.kind-trash-item
            input(type="checkbox" name="trash-glass")
            .kind-trash-mark.glass
        p.text-center.my-3 Glass
    li.col-md-2.p-0
        label.kind-trash-item
            input(type="checkbox" name="trash-plastic")
            .kind-trash-mark.plastic
        p.text-center.my-3 Plastic
    li.col-md-2.p-0
        label.kind-trash-item
            input(type="checkbox" name="trash-organic")
            .kind-trash-mark.organic
        p.text-center.my-3 Organic
    li.col-md-2.p-0
        label.kind-trash-item
            input(type="checkbox" name="trash-metal")
            .kind-trash-mark.metal
        p.text-center.my-3 Metal
    li.col-md-2.p-0
        label.kind-trash-item
            input(type="checkbox" name="trash-paper")
            .kind-trash-mark.paper
        p.text-center.my-3 Paper
    li.col-md-2.p-0
        label.kind-trash-item
            input(type="checkbox" name="trash-batteries")
            .kind-trash-mark.batteries
        p.text-center.my-3 Batteries
