option(data-content='<span class="flag-icon flag-icon-gb rounded"></span> English') English
option(data-content="<span class='flag-icon flag-icon-af rounded'></span> Afghanistan") Afghanistan
option(data-content="<span class='flag-icon flag-icon-ax rounded'></span> Aland Islands") Aland Islands
option(data-content="<span class='flag-icon flag-icon-al rounded'></span> Albania") Albania
option(data-content="<span class='flag-icon flag-icon-dz rounded'></span> Algeria") Algeria
option(data-content="<span class='flag-icon flag-icon-as rounded'></span> American Samoa") American Samoa
option(data-content="<span class='flag-icon flag-icon-ad rounded'></span> Andorra") Andorra
option(data-content="<span class='flag-icon flag-icon-ao rounded'></span> Angola") Angola
option(data-content="<span class='flag-icon flag-icon-ai rounded'></span> Anguilla") Anguilla
option(data-content="<span class='flag-icon flag-icon-aq rounded'></span> Antarctica") Antarctica
option(data-content="<span class='flag-icon flag-icon-ag rounded'></span> Antigua And Barbuda") Antigua And Barbuda
option(data-content="<span class='flag-icon flag-icon-ar rounded'></span> Argentina") Argentina
option(data-content="<span class='flag-icon flag-icon-am rounded'></span> Armenia") Armenia
option(data-content="<span class='flag-icon flag-icon-aw rounded'></span> Aruba") Aruba
option(data-content="<span class='flag-icon flag-icon-au rounded'></span> Australia") Australia
option(data-content="<span class='flag-icon flag-icon-at rounded'></span> Austria") Austria
option(data-content="<span class='flag-icon flag-icon-az rounded'></span> Azerbaijan") Azerbaijan
option(data-content="<span class='flag-icon flag-icon-bs rounded'></span> Bahamas") Bahamas
option(data-content="<span class='flag-icon flag-icon-bh rounded'></span> Bahrain") Bahrain
option(data-content="<span class='flag-icon flag-icon-bd rounded'></span> Bangladesh") Bangladesh
option(data-content="<span class='flag-icon flag-icon-bb rounded'></span> Barbados") Barbados
option(data-content="<span class='flag-icon flag-icon-by rounded'></span> Belarus") Belarus
option(data-content="<span class='flag-icon flag-icon-be rounded'></span> Belgium") Belgium
option(data-content="<span class='flag-icon flag-icon-bz rounded'></span> Belize") Belize
option(data-content="<span class='flag-icon flag-icon-bj rounded'></span> Benin") Benin
option(data-content="<span class='flag-icon flag-icon-bm rounded'></span> Bermuda") Bermuda
option(data-content="<span class='flag-icon flag-icon-bt rounded'></span> Bhutan") Bhutan
option(data-content="<span class='flag-icon flag-icon-bo rounded'></span> Bolivia") Bolivia
option(data-content="<span class='flag-icon flag-icon-ba rounded'></span> Bosnia And Herzegovina") Bosnia And Herzegovina
option(data-content="<span class='flag-icon flag-icon-bw rounded'></span> Botswana") Botswana
option(data-content="<span class='flag-icon flag-icon-bv rounded'></span> Bouvet Island") Bouvet Island
option(data-content="<span class='flag-icon flag-icon-br rounded'></span> Brazil") Brazil
option(data-content="<span class='flag-icon flag-icon-io rounded'></span> British Indian Ocean Territory") British Indian Ocean Territory
option(data-content="<span class='flag-icon flag-icon-bn rounded'></span> Brunei Darussalam") Brunei Darussalam
option(data-content="<span class='flag-icon flag-icon-bg rounded'></span> Bulgaria") Bulgaria
option(data-content="<span class='flag-icon flag-icon-bf rounded'></span> Burkina Faso") Burkina Faso
option(data-content="<span class='flag-icon flag-icon-bi rounded'></span> Burundi") Burundi
option(data-content="<span class='flag-icon flag-icon-kh rounded'></span> Cambodia") Cambodia
option(data-content="<span class='flag-icon flag-icon-cm rounded'></span> Cameroon") Cameroon
option(data-content="<span class='flag-icon flag-icon-ca rounded'></span> Canada") Canada
option(data-content="<span class='flag-icon flag-icon-cv rounded'></span> Cape Verde") Cape Verde
option(data-content="<span class='flag-icon flag-icon-ky rounded'></span> Cayman Islands") Cayman Islands
option(data-content="<span class='flag-icon flag-icon-cf rounded'></span> Central African Republic") Central African Republic
option(data-content="<span class='flag-icon flag-icon-td rounded'></span> Chad") Chad
option(data-content="<span class='flag-icon flag-icon-cl rounded'></span> Chile") Chile
option(data-content="<span class='flag-icon flag-icon-cn rounded'></span> China") China
option(data-content="<span class='flag-icon flag-icon-cx rounded'></span> Christmas Island") Christmas Island
option(data-content="<span class='flag-icon flag-icon-cc rounded'></span> Cocos (Keeling) Islands") Cocos (Keeling) Islands
option(data-content="<span class='flag-icon flag-icon-co rounded'></span> Colombia") Colombia
option(data-content="<span class='flag-icon flag-icon-km rounded'></span> Comoros") Comoros
option(data-content="<span class='flag-icon flag-icon-cg rounded'></span> Congo") Congo
option(data-content="<span class='flag-icon flag-icon-cd rounded'></span> Congo Democratic Republic") Congo Democratic Republic
option(data-content="<span class='flag-icon flag-icon-ck rounded'></span> Cook Islands") Cook Islands
option(data-content="<span class='flag-icon flag-icon-cr rounded'></span> Costa Rica") Costa Rica
option(data-content="<span class='flag-icon flag-icon-ci rounded'></span> Cote D'Ivoire") Cote D'Ivoire
option(data-content="<span class='flag-icon flag-icon-hr rounded'></span> Croatia") Croatia
option(data-content="<span class='flag-icon flag-icon-cu rounded'></span> Cuba") Cuba
option(data-content="<span class='flag-icon flag-icon-cy rounded'></span> Cyprus") Cyprus
option(data-content="<span class='flag-icon flag-icon-cz rounded'></span> Czech Republic") Czech Republic
option(data-content="<span class='flag-icon flag-icon-dk rounded'></span> Denmark") Denmark
option(data-content="<span class='flag-icon flag-icon-dj rounded'></span> Djibouti") Djibouti
option(data-content="<span class='flag-icon flag-icon-dm rounded'></span> Dominica") Dominica
option(data-content="<span class='flag-icon flag-icon-do rounded'></span> Dominican Republic") Dominican Republic
option(data-content="<span class='flag-icon flag-icon-ec rounded'></span> Ecuador") Ecuador
option(data-content="<span class='flag-icon flag-icon-eg rounded'></span> Egypt") Egypt
option(data-content="<span class='flag-icon flag-icon-sv rounded'></span> El Salvador") El Salvador
option(data-content="<span class='flag-icon flag-icon-gq rounded'></span> Equatorial Guinea") Equatorial Guinea
option(data-content="<span class='flag-icon flag-icon-er rounded'></span> Eritrea") Eritrea
option(data-content="<span class='flag-icon flag-icon-ee rounded'></span> Estonia") Estonia
option(data-content="<span class='flag-icon flag-icon-et rounded'></span> Ethiopia") Ethiopia
option(data-content="<span class='flag-icon flag-icon-fk rounded'></span> Falkland Islands (Malvinas)") Falkland Islands (Malvinas)
option(data-content="<span class='flag-icon flag-icon-fo rounded'></span> Faroe Islands") Faroe Islands
option(data-content="<span class='flag-icon flag-icon-fj rounded'></span> Fiji") Fiji
option(data-content="<span class='flag-icon flag-icon-fi rounded'></span> Finland") Finland
option(data-content="<span class='flag-icon flag-icon-fr rounded'></span> France") France
option(data-content="<span class='flag-icon flag-icon-gf rounded'></span> French Guiana") French Guiana
option(data-content="<span class='flag-icon flag-icon-pf rounded'></span> French Polynesia") French Polynesia
option(data-content="<span class='flag-icon flag-icon-tf rounded'></span> French Southern Territories") French Southern Territories
option(data-content="<span class='flag-icon flag-icon-ga rounded'></span> Gabon") Gabon
option(data-content="<span class='flag-icon flag-icon-gm rounded'></span> Gambia") Gambia
option(data-content="<span class='flag-icon flag-icon-ge rounded'></span> Georgia") Georgia
option(data-content="<span class='flag-icon flag-icon-de rounded'></span> Germany") Germany
option(data-content="<span class='flag-icon flag-icon-gh rounded'></span> Ghana") Ghana
option(data-content="<span class='flag-icon flag-icon-gi rounded'></span> Gibraltar") Gibraltar
option(data-content="<span class='flag-icon flag-icon-gr rounded'></span> Greece") Greece
option(data-content="<span class='flag-icon flag-icon-gl rounded'></span> Greenland") Greenland
option(data-content="<span class='flag-icon flag-icon-gd rounded'></span> Grenada") Grenada
option(data-content="<span class='flag-icon flag-icon-gp rounded'></span> Guadeloupe") Guadeloupe
option(data-content="<span class='flag-icon flag-icon-gu rounded'></span> Guam") Guam
option(data-content="<span class='flag-icon flag-icon-gt rounded'></span> Guatemala") Guatemala
option(data-content="<span class='flag-icon flag-icon-gg rounded'></span> Guernsey") Guernsey
option(data-content="<span class='flag-icon flag-icon-gn rounded'></span> Guinea") Guinea
option(data-content="<span class='flag-icon flag-icon-gw rounded'></span> Guinea-Bissau") Guinea-Bissau
option(data-content="<span class='flag-icon flag-icon-gy rounded'></span> Guyana") Guyana
option(data-content="<span class='flag-icon flag-icon-ht rounded'></span> Haiti") Haiti
option(data-content="<span class='flag-icon flag-icon-hm rounded'></span> Heard Island & Mcdonald Islands") Heard Island & Mcdonald Islands
option(data-content="<span class='flag-icon flag-icon-va rounded'></span> Holy See (Vatican City State)") Holy See (Vatican City State)
option(data-content="<span class='flag-icon flag-icon-hn rounded'></span> Honduras") Honduras
option(data-content="<span class='flag-icon flag-icon-hk rounded'></span> Hong Kong") Hong Kong
option(data-content="<span class='flag-icon flag-icon-hu rounded'></span> Hungary") Hungary
option(data-content="<span class='flag-icon flag-icon-is rounded'></span> Iceland") Iceland
option(data-content="<span class='flag-icon flag-icon-in rounded'></span> India") India
option(data-content="<span class='flag-icon flag-icon-id rounded'></span> Indonesia") Indonesia
option(data-content="<span class='flag-icon flag-icon-ir rounded'></span> Iran Islamic Republic Of") Iran Islamic Republic Of
option(data-content="<span class='flag-icon flag-icon-iq rounded'></span> Iraq") Iraq
option(data-content="<span class='flag-icon flag-icon-ie rounded'></span> Ireland") Ireland
option(data-content="<span class='flag-icon flag-icon-im rounded'></span> Isle Of Man") Isle Of Man
option(data-content="<span class='flag-icon flag-icon-il rounded'></span> Israel") Israel
option(data-content="<span class='flag-icon flag-icon-it rounded'></span> Italy") Italy
option(data-content="<span class='flag-icon flag-icon-jm rounded'></span> Jamaica") Jamaica
option(data-content="<span class='flag-icon flag-icon-jp rounded'></span> Japan") Japan
option(data-content="<span class='flag-icon flag-icon-je rounded'></span> Jersey") Jersey
option(data-content="<span class='flag-icon flag-icon-jo rounded'></span> Jordan") Jordan
option(data-content="<span class='flag-icon flag-icon-kz rounded'></span> Kazakhstan") Kazakhstan
option(data-content="<span class='flag-icon flag-icon-ke rounded'></span> Kenya") Kenya
option(data-content="<span class='flag-icon flag-icon-ki rounded'></span> Kiribati") Kiribati
option(data-content="<span class='flag-icon flag-icon-kr rounded'></span> Korea") Korea
option(data-content="<span class='flag-icon flag-icon-kw rounded'></span> Kuwait") Kuwait
option(data-content="<span class='flag-icon flag-icon-kg rounded'></span> Kyrgyzstan") Kyrgyzstan
option(data-content="<span class='flag-icon flag-icon-la rounded'></span> Lao People's Democratic Republic") Lao People's Democratic Republic
option(data-content="<span class='flag-icon flag-icon-lv rounded'></span> Latvia") Latvia
option(data-content="<span class='flag-icon flag-icon-lb rounded'></span> Lebanon") Lebanon
option(data-content="<span class='flag-icon flag-icon-ls rounded'></span> Lesotho") Lesotho
option(data-content="<span class='flag-icon flag-icon-lr rounded'></span> Liberia") Liberia
option(data-content="<span class='flag-icon flag-icon-ly rounded'></span> Libyan Arab Jamahiriya") Libyan Arab Jamahiriya
option(data-content="<span class='flag-icon flag-icon-li rounded'></span> Liechtenstein") Liechtenstein
option(data-content="<span class='flag-icon flag-icon-lt rounded'></span> Lithuania") Lithuania
option(data-content="<span class='flag-icon flag-icon-lu rounded'></span> Luxembourg") Luxembourg
option(data-content="<span class='flag-icon flag-icon-mo rounded'></span> Macao") Macao
option(data-content="<span class='flag-icon flag-icon-mk rounded'></span> Macedonia") Macedonia
option(data-content="<span class='flag-icon flag-icon-mg rounded'></span> Madagascar") Madagascar
option(data-content="<span class='flag-icon flag-icon-mw rounded'></span> Malawi") Malawi
option(data-content="<span class='flag-icon flag-icon-my rounded'></span> Malaysia") Malaysia
option(data-content="<span class='flag-icon flag-icon-mv rounded'></span> Maldives") Maldives
option(data-content="<span class='flag-icon flag-icon-ml rounded'></span> Mali") Mali
option(data-content="<span class='flag-icon flag-icon-mt rounded'></span> Malta") Malta
option(data-content="<span class='flag-icon flag-icon-mh rounded'></span> Marshall Islands") Marshall Islands
option(data-content="<span class='flag-icon flag-icon-mq rounded'></span> Martinique") Martinique
option(data-content="<span class='flag-icon flag-icon-mr rounded'></span> Mauritania") Mauritania
option(data-content="<span class='flag-icon flag-icon-mu rounded'></span> Mauritius") Mauritius
option(data-content="<span class='flag-icon flag-icon-yt rounded'></span> Mayotte") Mayotte
option(data-content="<span class='flag-icon flag-icon-mx rounded'></span> Mexico") Mexico
option(data-content="<span class='flag-icon flag-icon-fm rounded'></span> Micronesia Federated States Of") Micronesia Federated States Of
option(data-content="<span class='flag-icon flag-icon-md rounded'></span> Moldova") Moldova
option(data-content="<span class='flag-icon flag-icon-mc rounded'></span> Monaco") Monaco
option(data-content="<span class='flag-icon flag-icon-mn rounded'></span> Mongolia") Mongolia
option(data-content="<span class='flag-icon flag-icon-me rounded'></span> Montenegro") Montenegro
option(data-content="<span class='flag-icon flag-icon-ms rounded'></span> Montserrat") Montserrat
option(data-content="<span class='flag-icon flag-icon-ma rounded'></span> Morocco") Morocco
option(data-content="<span class='flag-icon flag-icon-mz rounded'></span> Mozambique") Mozambique
option(data-content="<span class='flag-icon flag-icon-mm rounded'></span> Myanmar") Myanmar
option(data-content="<span class='flag-icon flag-icon-na rounded'></span> Namibia") Namibia
option(data-content="<span class='flag-icon flag-icon-nr rounded'></span> Nauru") Nauru
option(data-content="<span class='flag-icon flag-icon-np rounded'></span> Nepal") Nepal
option(data-content="<span class='flag-icon flag-icon-nl rounded'></span> Netherlands") Netherlands
option(data-content="<span class='flag-icon flag-icon-an rounded'></span> Netherlands Antilles") Netherlands Antilles
option(data-content="<span class='flag-icon flag-icon-nc rounded'></span> New Caledonia") New Caledonia
option(data-content="<span class='flag-icon flag-icon-nz rounded'></span> New Zealand") New Zealand
option(data-content="<span class='flag-icon flag-icon-ni rounded'></span> Nicaragua") Nicaragua
option(data-content="<span class='flag-icon flag-icon-ne rounded'></span> Niger") Niger
option(data-content="<span class='flag-icon flag-icon-ng rounded'></span> Nigeria") Nigeria
option(data-content="<span class='flag-icon flag-icon-nu rounded'></span> Niue") Niue
option(data-content="<span class='flag-icon flag-icon-nf rounded'></span> Norfolk Island") Norfolk Island
option(data-content="<span class='flag-icon flag-icon-mp rounded'></span> Northern Mariana Islands") Northern Mariana Islands
option(data-content="<span class='flag-icon flag-icon-no rounded'></span> Norway") Norway
option(data-content="<span class='flag-icon flag-icon-om rounded'></span> Oman") Oman
option(data-content="<span class='flag-icon flag-icon-pk rounded'></span> Pakistan") Pakistan
option(data-content="<span class='flag-icon flag-icon-pw rounded'></span> Palau") Palau
option(data-content="<span class='flag-icon flag-icon-ps rounded'></span> Palestinian Territory}, Occupied") Palestinian Territory}, Occupied
option(data-content="<span class='flag-icon flag-icon-pa rounded'></span> Panama") Panama
option(data-content="<span class='flag-icon flag-icon-pg rounded'></span> Papua New Guinea") Papua New Guinea
option(data-content="<span class='flag-icon flag-icon-py rounded'></span> Paraguay") Paraguay
option(data-content="<span class='flag-icon flag-icon-pe rounded'></span> Peru") Peru
option(data-content="<span class='flag-icon flag-icon-ph rounded'></span> Philippines") Philippines
option(data-content="<span class='flag-icon flag-icon-pn rounded'></span> Pitcairn") Pitcairn
option(data-content="<span class='flag-icon flag-icon-pl rounded'></span> Poland") Poland
option(data-content="<span class='flag-icon flag-icon-pt rounded'></span> Portugal") Portugal
option(data-content="<span class='flag-icon flag-icon-pr rounded'></span> Puerto Rico") Puerto Rico
option(data-content="<span class='flag-icon flag-icon-qa rounded'></span> Qatar") Qatar
option(data-content="<span class='flag-icon flag-icon-re rounded'></span> Reunion") Reunion
option(data-content="<span class='flag-icon flag-icon-ro rounded'></span> Romania") Romania
option(data-content="<span class='flag-icon flag-icon-ru rounded'></span> Russian Federation") Russian Federation
option(data-content="<span class='flag-icon flag-icon-rw rounded'></span> Rwanda") Rwanda
option(data-content="<span class='flag-icon flag-icon-bl rounded'></span> Saint Barthelemy") Saint Barthelemy
option(data-content="<span class='flag-icon flag-icon-sh rounded'></span> Saint Helena") Saint Helena
option(data-content="<span class='flag-icon flag-icon-kn rounded'></span> Saint Kitts And Nevis") Saint Kitts And Nevis
option(data-content="<span class='flag-icon flag-icon-lc rounded'></span> Saint Lucia") Saint Lucia
option(data-content="<span class='flag-icon flag-icon-mf rounded'></span> Saint Martin") Saint Martin
option(data-content="<span class='flag-icon flag-icon-pm rounded'></span> Saint Pierre And Miquelon") Saint Pierre And Miquelon
option(data-content="<span class='flag-icon flag-icon-vc rounded'></span> Saint Vincent And Grenadines") Saint Vincent And Grenadines
option(data-content="<span class='flag-icon flag-icon-ws rounded'></span> Samoa") Samoa
option(data-content="<span class='flag-icon flag-icon-sm rounded'></span> San Marino") San Marino
option(data-content="<span class='flag-icon flag-icon-st rounded'></span> Sao Tome And Principe") Sao Tome And Principe
option(data-content="<span class='flag-icon flag-icon-sa rounded'></span> Saudi Arabia") Saudi Arabia
option(data-content="<span class='flag-icon flag-icon-sn rounded'></span> Senegal") Senegal
option(data-content="<span class='flag-icon flag-icon-rs rounded'></span> Serbia") Serbia
option(data-content="<span class='flag-icon flag-icon-sc rounded'></span> Seychelles") Seychelles
option(data-content="<span class='flag-icon flag-icon-sl rounded'></span> Sierra Leone") Sierra Leone
option(data-content="<span class='flag-icon flag-icon-sg rounded'></span> Singapore") Singapore
option(data-content="<span class='flag-icon flag-icon-sk rounded'></span> Slovakia") Slovakia
option(data-content="<span class='flag-icon flag-icon-si rounded'></span> Slovenia") Slovenia
option(data-content="<span class='flag-icon flag-icon-sb rounded'></span> Solomon Islands") Solomon Islands
option(data-content="<span class='flag-icon flag-icon-so rounded'></span> Somalia") Somalia
option(data-content="<span class='flag-icon flag-icon-za rounded'></span> South Africa") South Africa
option(data-content="<span class='flag-icon flag-icon-gs rounded'></span> South Georgia And Sandwich Isl.") South Georgia And Sandwich Isl.
option(data-content="<span class='flag-icon flag-icon-es rounded'></span> Spain") Spain
option(data-content="<span class='flag-icon flag-icon-lk rounded'></span> Sri Lanka") Sri Lanka
option(data-content="<span class='flag-icon flag-icon-sd rounded'></span> Sudan") Sudan
option(data-content="<span class='flag-icon flag-icon-sr rounded'></span> Suriname") Suriname
option(data-content="<span class='flag-icon flag-icon-sj rounded'></span> Svalbard And Jan Mayen") Svalbard And Jan Mayen
option(data-content="<span class='flag-icon flag-icon-sz rounded'></span> Swaziland") Swaziland
option(data-content="<span class='flag-icon flag-icon-se rounded'></span> Sweden") Sweden
option(data-content="<span class='flag-icon flag-icon-ch rounded'></span> Switzerland") Switzerland
option(data-content="<span class='flag-icon flag-icon-sy rounded'></span> Syrian Arab Republic") Syrian Arab Republic
option(data-content="<span class='flag-icon flag-icon-tw rounded'></span> Taiwan") Taiwan
option(data-content="<span class='flag-icon flag-icon-tj rounded'></span> Tajikistan") Tajikistan
option(data-content="<span class='flag-icon flag-icon-tz rounded'></span> Tanzania") Tanzania
option(data-content="<span class='flag-icon flag-icon-th rounded'></span> Thailand") Thailand
option(data-content="<span class='flag-icon flag-icon-tl rounded'></span> Timor-Leste") Timor-Leste
option(data-content="<span class='flag-icon flag-icon-tg rounded'></span> Togo") Togo
option(data-content="<span class='flag-icon flag-icon-tk rounded'></span> Tokelau") Tokelau
option(data-content="<span class='flag-icon flag-icon-to rounded'></span> Tonga") Tonga
option(data-content="<span class='flag-icon flag-icon-tt rounded'></span> Trinidad And Tobago") Trinidad And Tobago
option(data-content="<span class='flag-icon flag-icon-tn rounded'></span> Tunisia") Tunisia
option(data-content="<span class='flag-icon flag-icon-tr rounded'></span> Turkey") Turkey
option(data-content="<span class='flag-icon flag-icon-tm rounded'></span> Turkmenistan") Turkmenistan
option(data-content="<span class='flag-icon flag-icon-tc rounded'></span> Turks And Caicos Islands") Turks And Caicos Islands
option(data-content="<span class='flag-icon flag-icon-tv rounded'></span> Tuvalu") Tuvalu
option(data-content="<span class='flag-icon flag-icon-ug rounded'></span> Uganda") Uganda
option(data-content="<span class='flag-icon flag-icon-ua rounded'></span> Ukraine") Ukraine
option(data-content="<span class='flag-icon flag-icon-ae rounded'></span> United Arab Emirates") United Arab Emirates
option(data-content="<span class='flag-icon flag-icon-gb rounded'></span> United Kingdom") United Kingdom
option(data-content="<span class='flag-icon flag-icon-us rounded'></span> United States") United States
option(data-content="<span class='flag-icon flag-icon-um rounded'></span> United States Outlying Islands") United States Outlying Islands
option(data-content="<span class='flag-icon flag-icon-uy rounded'></span> Uruguay") Uruguay
option(data-content="<span class='flag-icon flag-icon-uz rounded'></span> Uzbekistan") Uzbekistan
option(data-content="<span class='flag-icon flag-icon-vu rounded'></span> Vanuatu") Vanuatu
option(data-content="<span class='flag-icon flag-icon-ve rounded'></span> Venezuela") Venezuela
option(data-content="<span class='flag-icon flag-icon-vn rounded'></span> Viet Nam") Viet Nam
option(data-content="<span class='flag-icon flag-icon-vg rounded'></span> Virgin Islands - British") Virgin Islands - British
option(data-content="<span class='flag-icon flag-icon-vi rounded'></span> Virgin Islands - U.S.") Virgin Islands - U.S.
option(data-content="<span class='flag-icon flag-icon-wf rounded'></span> Wallis And Futuna") Wallis And Futuna
option(data-content="<span class='flag-icon flag-icon-eh rounded'></span> Western Sahara") Western Sahara
option(data-content="<span class='flag-icon flag-icon-ye rounded'></span> Yemen") Yemen
option(data-content="<span class='flag-icon flag-icon-zm rounded'></span> Zambia") Zambia
option(data-content="<span class='flag-icon flag-icon-zw rounded'></span> Zimbabwe") Zimbabwe