.my-account
    .row
        .col-xs-12
            ul#myAccount.nav.nav-tabs(style='margin-bottom: 15px;')
                li
                    a.my-account-link(href='#family', data-toggle='tab')
                        |My family
                        i.fa.fa-users
                li
                    a.my-account-link(href='#trophies', data-toggle='tab')
                        | My trophies
                        i.fa.fa-trophy
                li.active
                    a.my-account-link(href='#settings', data-toggle='tab')
                        | Settings
                        i.fa.fa.fa-cogs
    .row
        .col-xs-12
            #myAccountContent.tab-content
                #family.tab-pane.panel.panel-warning.p-4.fade
                    ul.users-list.clearfix
                        li.user-list__item
                            .user-list__item-img
                                img(src="assets/img/global/father.svg")
                            .user-list__item-name Martin Davos
                            .user-list__item-type
                                select.selectpicker.show-tick(data-width="fit", data-style="btn-outline-success-transparent")
                                    option father
                                    option mother
                                    option douther
                                    option son
                        li.user-list__item
                            .user-list__item-img
                                img(src="assets/img/global/mother.svg")
                            .user-list__item-name Jeanne Davos
                            .user-list__item-type
                                select.selectpicker.show-tick(data-width="fit", data-style="btn-outline-success-transparent")
                                    option mother
                                    option father
                                    option douther
                                    option son
                        li.user-list__item
                            .user-list__item-img
                                img(src="assets/img/global/son.svg")
                            .user-list__item-name Alfred Davos
                            .user-list__item-type
                                select.selectpicker.show-tick(data-width="fit", data-style="btn-outline-success-transparent")
                                    option son
                                    option father
                                    option mother
                                    option douther
                        li.user-list__item
                            button#createMember.create-member
                                i.fa.fa-plus
                                span Add member




                #trophies.tab-pane.panel.panel-pink.p-4.fade
                    include trophies-list
                #settings.tab-pane.panel.panel-success.p-4.fade.in.active
                    include form-settings