ul.trophies-list.clearfix
    li.trophies-list-item.active
        a.trophies-link
            img(src="assets/img/trophies/trophies-01.svg")
    li.trophies-list-item.active
        a.trophies-link
            img(src="assets/img/trophies/trophies-02.svg")
    li.trophies-list-item.active
        a.trophies-link
            img(src="assets/img/trophies/trophies-03.svg")
    li.trophies-list-item
        a.trophies-link
            img(src="assets/img/trophies/trophies-04.svg")
    li.trophies-list-item
        a.trophies-link
            img(src="assets/img/trophies/trophies-05.svg")
    li.trophies-list-item
        a.trophies-link
            img(src="assets/img/trophies/trophies-06.svg")
    li.trophies-list-item
        a.trophies-link
            img(src="assets/img/trophies/trophies-07.svg")
    li.trophies-list-item
        a.trophies-link
            img(src="assets/img/trophies/trophies-08.svg")
    li.trophies-list-item
        a.trophies-link
            img(src="assets/img/trophies/trophies-09.svg")